<div>
    <form (ngSubmit)="sacuvajKorisnika()">
        <input type="text" name="ime" [(ngModel)]="noviKorisnik.ime">
        <button type="submit">Dodaj</button>
    </form>

    <br>

    <form (ngSubmit)="pogadjajBroj()">
        <input type="text" name="broj" [(ngModel)]="broj">
        <button type="submit">Pogadjaj</button>
    </form>

    <div id="ispis" *ngIf="korisnici">
        <ul *ngFor="let korisnik of korisnici">
            <li>{{korisnik.ime}}, rang: {{korisnik.rang}}</li>
        </ul>
    </div>
</div>